#app{
    height: 100%;
}
.el-header{
    background-color: #B3C0D1;
    color: #333;
    line-height: 60px;
}
.el-main{

}
.el-aside {
    color: #333;
}
.el-footer {
    background-color: #B3C0D1;
    color: #333;
    line-height: 60px;
}

.el-col{
    background-color: #B3C0D1;
    color: #333;
    border-radius: 3px;
}

.el-input{
    width: 300px;
}

.cell .el-input{
    width: 35%;
}

.el-button.is-circle{
    margin-left: 10px;
}